{% extends 'base.html' %}
{% block content %}
<div class="tpl-left-nav tpl-left-nav-hover">
    <div class="tpl-left-nav-title">
        Spider Manage操作
    </div>
    <div class="tpl-left-nav-list">
        <ul class="tpl-left-nav-menu">
            <li class="tpl-left-nav-item">
                <a href="/" class="nav-link active">
                    <i class="am-icon-home"></i>
                    <span>首页</span>
                </a>
            </li>
            <li class="tpl-left-nav-item">
                <a href="/add_task" class="nav-link tpl-left-nav-link-list">
                    <i class="am-icon-bar-chart"></i>
                    <span>新增任务</span>
                </a>
            </li>
            <li class="tpl-left-nav-item">
                <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                    <i class="am-icon-table"></i>
                    <span>监控</span>
                    <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
                </a>
                <ul class="tpl-left-nav-sub-menu">
                    {%for task in user.tasks %}
                    <li>
                        <a href="/status/{{task.name}}">
                            <i class="am-icon-angle-right"></i>
                            <span>{{task.name}}</span>
                        </a>
                    </li>
                    {%endfor%}

                </ul>
            </li>
            <li class="tpl-left-nav-item">
                <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                    <i class="am-icon-table"></i>
                    <span>数据</span>
                    <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
                </a>
                <ul class="tpl-left-nav-sub-menu">
                    {%for task in user.tasks %}
                    <li>
                        <a href="/data/{{task.name}}">
                            <i class="am-icon-angle-right"></i>
                            <span>{{task.name}}</span>
                        </a>
                    </li>
                    {%endfor%}
                </ul>
            </li>
        </ul>
    </div>
</div>
<div class="tpl-content-wrapper">
        <div class="tpl-content-page-title">
            爬虫管理器
        </div>
        <ol class="am-breadcrumb">
            <li class="am-icon-home am-active"> 首页</li>
        </ol>
        <div class="row">
            <div class="am-u-lg-3 am-u-md-6 am-u-sm-12">
                <div class="dashboard-stat blue">
                    <div class="visual">
                        <i class="am-icon-comments-o"></i>
                    </div>
                    <div class="details">
                        <div class="number"> 3</div>
                        <div class="desc"> 总任务数</div>
                    </div>
                    <a class="more" href="#"> 查看更多
                        <i class="m-icon-swapright m-icon-white"></i>
                    </a>
                </div>
            </div>
            <div class="am-u-lg-3 am-u-md-6 am-u-sm-12">
                <div class="dashboard-stat red">
                    <div class="visual">
                        <i class="am-icon-bar-chart-o"></i>
                    </div>
                    <div class="details">
                        <div class="number"> 65%</div>
                        <div class="desc"> 未完成</div>
                    </div>
                    <a class="more" href="#"> 查看更多
                        <i class="m-icon-swapright m-icon-white"></i>
                    </a>
                </div>
            </div>
            <div class="am-u-lg-3 am-u-md-6 am-u-sm-12">
                <div class="dashboard-stat green">
                    <div class="visual">
                        <i class="am-icon-apple"></i>
                    </div>
                    <div class="details">
                        <div class="number"> 653</div>
                        <div class="desc"> 待完成</div>
                    </div>
                    <a class="more" href="#"> 查看更多
                        <i class="m-icon-swapright m-icon-white"></i>
                    </a>
                </div>
            </div>
            <div class="am-u-lg-3 am-u-md-6 am-u-sm-12">
                <div class="dashboard-stat purple">
                    <div class="visual">
                        <i class="am-icon-android"></i>
                    </div>
                    <div class="details">
                        <div class="number"> 45</div>
                        <div class="desc"> 错误</div>
                    </div>
                    <a class="more" href="#"> 查看更多
                        <i class="m-icon-swapright m-icon-white"></i>
                    </a>
                </div>
            </div>


        </div>

        <div class="row">
            <div class="am-u-md-12 am-u-sm-12 row-mb">
                <div class="tpl-portlet">
                    <div class="tpl-portlet-title">
                        <div class="tpl-caption font-red ">
                            <i class="am-icon-bar-chart"></i>
                            <span> 任务详情</span>
                        </div>
                    </div>
                    <div class="tpl-scrollable">
                        <table class="am-table tpl-table">
                            <thead>
                            <tr class="tpl-table-uppercase">
                                <th>任务名</th>
                                <th>完成数据</th>
                                <th>错误数据</th>
                                <th>总任务数据</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>taobao</td>
                                <td>879</td>
                                <td>12</td>
                                <td>2011</td>
                            </tr>
                            <tr>
                                <td>jingdong</td>
                                <td>96</td>
                                <td>1</td>
                                <td>315</td>
                            </tr>
                            <tr>
                                <td>dangdang</td>
                                <td>221</td>
                                <td>369</td>
                                <td>569</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}